{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="row">
            <div class="book col-md-4">
                {% for item in books %}
                <a href="{% url 'select' item.pub_date %}"><h2>{{ item.name }}</h2></a>
                <p>Автор: {{ item.author }}</p>
                <p>Дата публикации: {{ item.pub_date |date:"Y-m-d" }}</p>
                {% endfor %}
            </div>
            {% if pred_date %}
            <a class="button button-primary" href="{% url 'select' pred_date %}">{{ pred_date }} ></a>
            {% endif %}
            {% if next_date %}
            <a class="button button-primary" href="{% url 'select' next_date %}">{{ next_date }} <</a>
            {% endif %}
        </div>
    </div>
{% endblock %}